<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Title</title>
</head>
<body>

<div id="APP" ref="app">
    <template>
        <el-select
                v-model="value10"
                multiple
                filterable
                allow-create
                default-first-option
                placeholder="请选择文章标签">
            <el-option
                    v-for="item in options5"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
            </el-option>
        </el-select>
    </template>
    <input type="text">
    <input type="text">
    <input type="text">
</div>
<!-- 引入样式 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    const app = new Vue({
        el: '#APP',
        data() {
            return {
                options5: [{
                    value: 'HTML',
                    label: 'HTML'
                }, {
                    value: 'CSS',
                    label: 'CSS'
                }, {
                    value: 'JavaScript',
                    label: 'JavaScript'
                }],
                value10: []
            }
        }, methods: {
            inputes() {
                let inputes = this.$refs.app.getElementsByTagName('input');
                for (let i = 0; i < inputes.length; i++) {
                    inputes[i].addEventListener('keyup', function ($event) {
                        if ($event.keyCode == 13) {
                            if (i + 1 == inputes.length) {
                                inputes[0].focus();
                            } else {
                                inputes[i + 1].focus();
                            }
                        }
                    })
                }
            }
        },
        mounted() {
            this.inputes();
        }
    })
</script>
</body>
</html>